:root {
  /* NEUTRAL COLOR */
  --neutral-0: #fafafa;
  --neutral-1: #f5f5f5;
  --neutral-2: #e5e5e5;
  --neutral-3: #d4d4d4;
  --neutral-4: #a3a3a3;
  --neutral-5: #737373;
  --neutral-6: #525252;
  --neutral-7: #404040;
  --neutral-8: #262626;
  --neutral-9: #171717;
  /* src: https://tailwindcss.com/docs/customizing-colors#default-color-palette */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* -webkit-font-smoothing: antialiased; */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

table {
  border-collapse: collapse;
}
