.container.pt {
  padding-top: 36px;
}

.showcase__title {
  margin: 0 0 1em;
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 0.2em;
}

.footbar {
  color: var(--neutral-0);
  text-align: center;
  margin: 30px 0 15px;
}
.footbar hr {
  width: 100%;
  border-top: 1px solid var(--neutral-6);
  color: transparent;
}
.footbar__body {
  display: flex;
  justify-content: space-between;
}

.project-group {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.project {
  display: grid;
  grid-gap: 20px;
  min-width: 0;
  padding: 10px 10px 20px;
  word-wrap: wrap;
  border: 1px solid var(--neutral-5);
}

.project__img {
  width: 100%;
  height: auto;
}
.project__title {
  margin-bottom: 0.8em;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.1em;
}

.project__desc {
  font-size: 14px;
  margin-bottom: 1.2em;
  letter-spacing: 0.05em;
}

.project__btn-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  text-decoration: none;
  cursor: pointer;
}

.project__btn {
  padding: 0.2em 1em;
  border: 1px solid var(--neutral-1);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: inherit;
}
.project__btn:hover {
  background-color: var(--neutral-1);
  color: var(--neutral-9);
}
.project__btn.project__btn--pink {
  border: 1px solid #f472b6;
  color: #f472b6;
}
.project__btn.project__btn--pink:hover {
  background-color: #f472b6;
  color: var(--neutral-9);
}

.project-group hr {
  display: none;
  width: 100%;
  border-top: 1px dashed var(--neutral-5);
  color: transparent;
}

.highlight {
  font-weight: bold;
  color: #f472b6;
}

@media screen and (min-width: 768px) {
  .showcase__title {
    font-size: 36px;
    text-align: center;
  }
  .container.pt {
    padding-top: 40px;
  }
  .project {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0 10px;
    border: none;
  }
  .project__img--reverse-order {
    order: 2;
  }
  .project-group hr {
    display: block;
  }
  .footbar {
    margin: 55px 0 25px;
  }
}

@media screen and (min-width: 992px) {
  .project-group {
    gap: 55px;
  }
  .project__title {
    margin-bottom: 1em;
    font-size: 24px;
  }
  .project__desc {
    margin-bottom: 1.6em;
    font-size: 16px;
  }
  .project__btn {
    padding: 0.5em 1.2em;
    border: 1px solid var(--neutral-1);
    font-size: 16px;
    cursor: pointer;
  }
  .footbar {
    margin: 70px 0 30px;
  }
}

@media screen and (min-width: 1200px) {
  .container.pt {
    padding-top: 44px;
  }
  .showcase__title {
    font-size: 40px;
  }
}
